# OS specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python virtual environments
**/venv/
**/env/
**/__pycache__/
**/*.pyc

# Node modules
**/node_modules/
*.swp
*.swo
*~

# Environment
.env
.env.local

# Logs
*.log

# Documentation
*.md~

# XML/XSD files
# 2024-05-27-XML-XSD/


